@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
   
   
    /* Scrollbar width */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: gray; /* Thumb color */
    border-radius: 4px; /* Rounded corners */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
  }

  body{
    overflow: hidden;
    height: 100vh;
    
  }

  .h-90-vh{
    height: 90vh;
  }

  .w-57vw{
    width: 57vw;
  }